/*
PALLET:

#88BDBC
#254E58
#112D32
#4F4A41
#6E6658
*/

.container {
 padding: 0 2rem;
}

.main {
 padding: 1rem 0;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.grid {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 color: #112D32;
 margin: 2rem
}

.grid a {
 color: #254E58;
 text-decoration: none;
}

.grid a:hover {
 color: #112D32
}

.card {
 margin: .5rem;
 padding: .5rem;
 text-align: center;
 color: inherit;
 text-decoration: none;
 border-radius: 10px;
 margin: 3rem;
 max-width: 500px;
}

.card h2 {
 margin: 0 0 1rem 0;
 font-size: 2.25rem;
}

.card p {
 margin: 0;
 font-size: 1.2rem;
 line-height: 1.25;
}

.logo {
 height: 1em;
 margin-left: 0.5rem;
}

@media (max-width: 600px) {
 .grid {
   width: 100%;
   flex-direction: column;
 }
}
