/*
PALLET:

#88BDBC
#254E58
#112D32
#4F4A41
#6E6658
*/

.footer {
 display: flex;
 flex: 1;
 padding: 2rem 0;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 justify-content: center;
 align-items: center;
 top: 100vh;
}

.footer a {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 margin: 1rem;
 flex-grow: 1;
 color: #254E58;
}

.footer a:hover {
 color: #112D32
}

.copy {
 margin-right: 1.2rem;
}