/*
PALLET:

#88BDBC
#254E85
#112D32
#4F4A41
#6E6658
*/

html,
body {
 padding: 0;
 margin: 0;
 height: 100%;
 font-family: 'Inconsolata', monospace !important;
 background-color: #88BDBC;
}

* {
 box-sizing: border-box;
}

